[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
flask-restful = "*"
flask-uploads = "*"
werkzeug = "*"
flask-reuploaded = "*"
flask-wtf = "*"
faker = "*"
bcrypt = "*"
flask-restx = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
pyjwt = "*"
flask = "==2.3.3"
flask-cors = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
